@import url(../../colores.css);


.seccion__contacto{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--background-2);
}
@media screen and (max-width:960px) {
    .seccion__contacto {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
}