:root{

    --background: #ffffff;
    --background-2: #C8C8C8;
    --background-3: #EAF2FD;

    --color-caracteristico: #2A7AE4;
    --color-caracteristico2: #246bc7;

    --color-letra-principal: #464646;
    --color-letra-secundario: #ffffff;

}