@import url(../../colores.css);



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--background);
}

@media screen and (max-width: 960px){
    .navbar{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 480px){
    .navbar{
        justify-content: center;
    }
}