@import url(../../colores.css);


.navbar__busqueda__box{
    display: flex;
    justify-content: center;
    border: solid 2px var(--background-2);

}

@media screen and (max-width: 480px){
    .navbar__busqueda__box{
        order: 3;
    }
}