@import url(../../colores.css);


.hero__promo__descripcion {
    font-family: 'Bungee Inline', cursive;
    color: var(--color-letra-secundario);
    font-size: 2rem;
    padding-bottom: 2rem;
    
}

@media screen and (max-width: 960px){
    .hero__promo__descripcion{
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}
