@import url(../colores.css);


.cuerpo__boton{
    background-color: var(--color-caracteristico);
    display: flex;
}
.cuerpo__boton a{
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: var(--color-letra-secundario);
}

.cuerpo__boton:hover{
    background-color: var(--color-caracteristico2);
}


@media screen and (max-width: 960px){
    .cuerpo__boton a {
        font-size: 0.8rem;
        padding: 0.8rem;
    }
}